@tailwind base;
@tailwind components;
@tailwind utilities;

 /* img{
      max-width: auto !important;
      height: auto !important;
 } */

/* Hide vertical scrollbar */
::-webkit-scrollbar {
  width: 0;
}

/* Hide horizontal scrollbar */
::-webkit-scrollbar {
  height: 0;
}

#__nuxt,
#__layout,
body,
html {
  height: auto;
  min-height: 100vh !important;
  overflow-x: hidden;
}

.maintext{
  font-family: 'TAN-PEARL-Regular';
}


.headingspages{
  font-family: 'RomainHeadlineTrial';
  font-size: 2vw;
}

.headingspagesb{
  font-family: 'RomainHeadlineTrial';
  font-size: 2vw;
 font-weight: bold;
}


@media (min-width: 1440px) and (max-width: 1544px) {
  .headingspages{
    font-family: 'RomainHeadlineTrial';
    font-size: 1.7vw;
  }
  
  .headingspagesb{
    font-family: 'RomainHeadlineTrial';
    font-size: 1.7vw;
   font-weight: bold;
  }
}


  .headingspages{
    font-family: 'RomainHeadlineTrial';
    font-size: 1.5vw;
  }
  
  .headingspagesb{
    font-family: 'RomainHeadlineTrial';
    font-size: 1.5vw;
   font-weight: bold;
  }


  @media only screen and (max-width: 768px) {
    /* .image-grid {
      grid-template-columns: repeat(1, 1fr);
    } */
  
    .headingspages {
      font-family: 'RomainHeadlineTrial';
      font-size: 5vw;
      padding-top: 2vh;
  }
  }
