@tailwind base;
@tailwind components;
@tailwind utilities;

 /* img{
      max-width: auto !important;
      height: auto !important;
 } */

/* Hide vertical scrollbar */
::-webkit-scrollbar {
  width: 0;
}

/* Hide horizontal scrollbar */
::-webkit-scrollbar {
  height: 0;
}

#__nuxt,
#__layout,
body,
html {
  height: auto;
  min-height: 100vh !important;
  overflow-x: hidden;
}

.maintext{
  font-family: 'TAN-PEARL-Regular';
}


/* .headingspages{
  font-family: 'RomainHeadlineTrial';
  font-size: 2vw;
} */

/* .headingspagesb{
  font-family: 'RomainHeadlineTrial';
  font-size: 2vw;
 font-weight: bold;
} */

/* .headingspages {
  font-family: "GT-Bold";
  font-size: medium;
} */

/* .yeart {
  font-family: "MinionPro-Regular";
  font-size: medium;
} */


.textsum {
  font-size: .8vw;
  line-height: normal;
  font-family: 'GT-SuperBook'; 
}

.yeart {
  font-family: "MinionPro-Regular";
  font-family: 'RomainHeadlineTrial';
  /* font-family: 'GT-SuperBook'; */
  font-size: medium;
  font-size: 1vw;
  line-height: normal;

  padding: .2vw;
}

.headingspages {
  font-family: "GT-Bold";
  font-family: "MinionPro-Regular";
  font-family: 'RomainHeadlineTrial';
  /* font-family: 'GT-SuperBook'; */
  font-size: medium;
  font-size: 1vw;
  line-height: normal;
}

.headera {
  display: flex;
  align-items: center;
  
  padding-left: .7vw;
    padding-right: .7vw;
    border-bottom: .5px solid black;
    border-bottom: .05vw solid black;
    background-image: url("./static/background.jpg");
    background-size: cover;
    background-position: initial;
    background-repeat: no-repeat;
    padding: .4vw;
    position: absolute;
    top: 0;
    z-index: 1;
}

.headera {
  padding: 0.4vw;
}

@media (max-width: 1440px) {
  .headera {
      padding-top: .5vw;
      padding-bottom: .5vw;
      padding-left: 0.5vw;
      padding-right: 0.5vw;
  }

  .portrait{
    margin-right: 2vw !important;
}

.landscape {
  width: auto;
  height: auto;
  width: 45vw !important;
  position: absolute  !important;
  top: 20vh;
  left: 1.5vw  !important;
  margin-right: auto;
  margin-left: auto;
}
}

@media (min-width: 1440px) and (max-width: 1544px) {
  /* .headingspages{
    font-family: 'RomainHeadlineTrial';
    font-size: 1.7vw;
  } */
  
  /* .headingspagesb{
    font-family: 'RomainHeadlineTrial';
    font-size: 1.7vw;
   font-weight: bold;
  } */
}


  /* .headingspages{
    font-family: 'RomainHeadlineTrial';
    font-size: 1.5vw;
  } */
  
  /* .headingspagesb{
    font-family: 'RomainHeadlineTrial';
    font-size: 1.5vw;
   font-weight: bold;
  } */


  @media only screen and (max-width: 768px) {
    /* .image-grid {
      grid-template-columns: repeat(1, 1fr);
    } */
  
    /* .headingspages {
      font-family: 'RomainHeadlineTrial';
      font-size: 5vw;
      padding-top: 2vh;
  } */
  }
